@use './variables'  as *;
@use './mixin';
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* importar fuente en variables.scss */
    font-family: $font-primary;
    background-color: color(secondary);
}

html {
    font-size: 62.5%;
    color: white;
    overflow-x: hidden;
}


// .container {
//     display: grid;
//     grid-template-columns: minmax(6rem,1fr) repeat(8,minmax(min-content,16rem)) minmax(6rem,1fr);
//     grid-template-rows: repeat(4,min-content);
//     grid-row-gap: 1.6rem;
//     background-color: color(tertiary);   
// }


// grid:
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .col-4 {
    width: 33.33%;
    @include mixin.responsive("tablet") {
      width: 50%;
    }
    @include mixin.responsive("mobile") {
      width: 100%;
    }
  }
  
