//// Estilos base SassDoc
//// @author Daniel

@use './variables' as *;
@use './mixin';

/// **Estilos globales**
/// Resetea márgenes y paddings en todos los elementos y aplica la fuente principal.
/// @group global-styles
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
}

/// **Configuración de HTML**
/// Define el tamaño base de la fuente para facilitar el uso de `rem`, establece el color de texto y oculta el desbordamiento horizontal.
/// @group global-styles
html {
    font-size: 62.5%; // Equivalente a 10px para cálculos más sencillos con `rem`
    color: white;
    overflow-x: hidden;
}


  
