@use './variables'  as *;


/// mixin para generar cabeceras h1-h6
/// @group font-family
/// @group font-size
/// 
/// @include genera-cabeceras()
@mixin genera-cabeceras() {
    //misma familia, fuente, peso, //diferente tamaño
    @for $i from 1 through 6 {
        h#{$i}, .h#{$i} {
            font-family: $font-primary;
            font-weight: lighter;
        }
        @if $i == 1 {
            h#{$i}, .h#{$i} {
            font-size: size(xxl);
            }
        }
        @if $i == 2 {
            h#{$i}, .h#{$i} {
            font-size: size(xl);
            }
        }
        @if $i == 3 {
            h#{$i}, .h#{$i} {
            font-size: size(lg);
            }
        }
        @if $i == 4 {
            h#{$i}, .h#{$i} {
            font-size: size(md);
            }
        }
        @if $i == 5 {
            h#{$i}, .h#{$i} {
            font-size: size(sm);
            }
        }
        @if $i == 6 {
            h#{$i}, .h#{$i} {
            font-size: size(xs);
            }
        }

    }
}

@include genera-cabeceras();


/// mixin para generar navegador
/// @group color
/// @group flexbox
/// 
/// .navegador {
///     disposicion;
///     @include nav()
/// }
/// 
@mixin nav() {
    
    &-list {
    border-radius: 20px;

        @include flexbox(row,space-around,center);
        height: 100%;
    }

    &-item {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        @include button();
    }

}



/// mixin para convertir en un flexbox
/// @param direction direccion del contenedor
/// @param justify alineacion horizontal del contenido
/// @param align alineacion vertical del contenido
/// 
/// .navegador {
///     @include flexbox(row,center,center)
/// }
/// 
@mixin flexbox($direction:row,$justify:center,$align:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


/// mixin para indicar media querys
/// @param size tamaño al que hacer punto de ruptura
/// 
/// .navegador {
///     @include responsive("tablet") {
///         width: 80%;
///     }
///     @include responsive("mobile") {
///         width: 50%;
///     }
/// }
/// 
@mixin responsive($size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
}


/// mixin para convertir en un flexbox
/// @param bg-color color de fondo del boton
/// @param text-color color del texto del boton
/// 
/// .navegador {
///     @include button(color(primary),color(secondary));
/// }
/// 
@mixin button() {
    background-color: btnColor(back);
    border: 1px solid btnColor(border);
    color: btnColor(color);
    padding: 1rem 1.8rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: $font-secondary;
    transition: 0.3s;
  
    &:hover {
      background-color: darken(color(primary), 10%);
      border: 1px solid btnColor(color);
    }


  }

  


  

